.login-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-popup-container{
    width: 100%;
    max-width: 400px;
    color: #333;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px 30px;
    border-radius: 12px;
    font-size: 14px;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup img{
    width: 16px;
    cursor: pointer;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p span{
    color: tomato;
    font-weight: 600;
    cursor: pointer;
}